body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Tangerine', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  /* background: url('./assets/sun.jpg'); */
  background-position: center;
  /*
  font-family: 'Courgette', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Tangerine', cursive;
    font-family: 'Teko', sans-serif;
     */
  color: #FFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}